.mtm {
  background-color: #000;
  font-size: 14px;
  display: block;
  margin: auto;
  font-family: 'Source Code Pro',"Lucida Console",Monaco,monospace;
}

.mtm-map text {
  font-weight: bold;
  pointer-events: none;
}
.mtm-view rect {
  stroke: none;
}
.mtm-header rect:hover {
	fill: #666;
}

.mtm-table {
	border: 1px solid black;
}
.mtm-table table {
	border-collapse: collapse;
	width: 100%;
}
.mtm-table th {
	background-color: #888;
	border-bottom: 1px solid #000;
}
.mtm-table td {
	cursor: default;
}
.mtm-table span span {
	padding: 0 1px 0 1px ;
	cursor: pointer; 
}
				
#mtm-menu button {
	color:#888;
	background-color: #000;
	border: 3px solid #888;
	border-radius: .2em;
	margin: 1px;
	padding: 2px ;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
	
}
.button {
	color:#888;
	background-color: #000;
	border: 3px solid #888;
	border-radius: .2em;
	margin: 1px !important;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
	display:inline-table;
}
#mtm-menu button:hover {
    box-shadow: 0 0 2px 2px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
}
#mtm-menu button.on {    
   color:#fff;
   border: 3px solid #fff;
}
#mtm-menu button.off { 
   color:#888;
   border: 3px solid  #888;
}

#mtm-slist {
	position:absolute;
	left:14px;
	color:#000;
	border: none;
	background-color:#888;
	font-family: 'Source Code Pro',"Lucida Console",Monaco,monospace;
}
#mtm-slist ul {
	list-style-position: inside;
    padding: 2px;
    margin: 0px; 
}
#mtm-slist li {
	display:none;
	cursor: pointer;
}
#mtm-slist li:hover {
	background-color:#666;
}

#mtm-header rect {
	fill: #888;
}
#d3-tip {
	background-color: #888;
	border: 1px solid #000;
	border-radius: .2em;
	padding:3px;
	font-family: 'Source Code Pro',"Lucida Console",Monaco,monospace;
	font-size: 14px;
}
